<!DOCTYPE html>
<html>
  <head>
    <title>Achiev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="app-title navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand">Achiev</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'タスク一覧', tasks_path, class: 'nav-link' %></li>
      </ul>
      </nav>
      <div class="container">
        <% if flash.notice.present? %>
        <div class="alert alert-success">
          <%= flash.notice %>
        </div>
        <% end %>
        <%= yield %>
      </div>
  </body>
</html>
